@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
* {
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cream-clr {
    background-color: #f9e6d0;
}

.gray-clr {
    background-color: #00373e;
}

.sec-1 div {
    height: 50vh;
}

.sec-1 div img {
    height: 100%;
}

.clr1 {background-color: #efc01d;}
.clr2 {background-color: #00a896;}
.clr3 {background-color: #f39cac;}

.xtra {
    height: 25vh;
    position: relative;
    margin-top: 20vh;
}

.xtra img {
    height: 150%;
    position: absolute;
    bottom: 0;
}

.tra {
    width: 50% !important;
}

.trass div{
    width: 50%;
}

@media (max-width:768px) {
    .sec-1 div img {
        height: 70%;
    }
}

@media (max-width:992px) {
     .tra {
        width: 100% !important;
    }

    .trass img {
        display: none;
    }
    .trass div {
        width: 100%;
    }
}



